<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title aStar
    link(rel="stylesheet", href="styles/bootstrap-4.1.3/bootstrap.css")
    link(rel="stylesheet", href="plugins/font-awesome-4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="plugins/OwlCarousel2-2.2.1/owl.carousel.css")
    link(rel="stylesheet", href="plugins/OwlCarousel2-2.2.1/owl.theme.default.css")
    link(rel="stylesheet", href="plugins/OwlCarousel2-2.2.1/animate.css")
    link(rel="stylesheet", href="styles/main_styles.css")
    link(rel="stylesheet", href="styles/responsive.css")
  body
  .super_container
    //- Header
    header.header
      .header_content.d-flex.flex-row.align-items-center.justify-content-start
        //- Hamburger
        .hamburger.menu_mm
          i.fa.fa-bars.menu_mm(aria-hidden="true")
        //- Logo
        .header_logo
          a(href="#")
            div a
              span star
          //- Navigation
          nav.header_nav
            ul.d-flex.flex-row.align-items-center.justify-content-start
              li
                a(href="index.html") Home
              li
                a(href="#") woman
              li
                a(href="#") man
              li
                a(href="#") lookbook
              li
                a(href="#") blog
              li
                a(href="#") contact
          //- Header Extra
          .header-extra.ml-auto.d-flex.flex-row.align-items-center.justify-content-start
            //- Language
            .ingo_languages.has_children
              .language_flag
                img(src="images/flag_1.svg", alt="")